.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  @apply bg-white rounded-2xl shadow-md hover:shadow-xl transition-transform transform hover:scale-105 overflow-hidden;
}

.card img {
  @apply w-full h-56 object-cover transition-transform duration-300;
}

.card:hover img {
  @apply scale-105;
}

.card-content {
  @apply p-6 flex flex-col flex-1;
}

#models {
  @apply py-20 px-6 bg-[#F5F5F5];
}

.grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8;
}
